*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# FarmerHuan
/.project
/.metadata/
/RemoteSystemsTempFiles/
/Servers/
/.recommenders/

.merge*

# Spring Huan
/SpringHuan/.metadata/
/SpringHuan/RemoteSystemsTempFiles/
/SpringHuan/.recommenders/
/SpringHuan/Servers/
/SpringHuan/HuanProject_20/.gradle/
#/SpringHuan/HuanProject_20/.settings/
