@CHARSET "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #8C8C8C;
}

.tl {
	text-align: left !important;
}

.pl5 {
	padding-left: 5px !important;
}

.ft12 {
	font-size: 12px;
}

.wrap {
	width: 100%;
	height: 100%;
}

.wrap .header {
	width: 100%;
	height: 250px;
}

.wrap .header .huanImg {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
}

.wrap .header .huanImg img {
	width: 100%;
	height: 100%;
}

.wrap .header .login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.wrap .header .login div {
	width: 1200px;
	margin: 0 auto;
	text-align: right;
	padding: 10px 50px 0 0;
	color: #fff;
}

.wrap .header .login div a {
	color: #fff;
	text-decoration: underline;
}

.wrap .header .topMenu {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}

.wrap .header .topMenu .top_nav {
	width: 99.8%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	border: 1px solid #DBDBDB;
}

.wrap .header .topMenu .top_nav li {
	width: 25%;
	font-size: 15px;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #DBDBDB;
}

.wrap .header .topMenu .top_nav li:last-child {
	border-right: none;
}

.wrap .contentWrap {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: -250px 0 -30px 0;
	font-size: 0;
}

.wrap .contentWrap .listWrap {
	width: 1200px;
	height: 100%;
	max-height: 71.8%;
	margin: 0 auto;
	padding: 250px 0 30px 0;
}

.wrap .contentWrap .listWrap .left {
	width: 25%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
	box-sizing: border-box;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	overflow-y: auto;
}

.wrap .contentWrap .listWrap .left ul li:first-child {
	padding: 20px 0 0 0;
}

.wrap .contentWrap .listWrap .left ul li {
	font-size: 15px;
	list-style: none;
	padding: 10px 0 0 0;
}

.wrap .contentWrap .listWrap .left ul li a:hover {
	font-size: 20px;
	color: #393939;
}

.wrap .contentWrap .listWrap .content {
	width: 75%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #DBDBDB;
	overflow-y: auto;
}

.wrap .contentWrap .listWrap .content .contentNav {
	font-size: 12px;
	padding: 15px 0 0 20px;
	color: #C9C9C9;
}

.wrap .contentWrap .listWrap .content .list {
	padding: 15px 0 15px 20px;
}

.wrap .contentWrap .listWrap .content .list table {
	width: 98%;
	font-size: 12px;
	text-align: center;
	border: 1px solid #dbdbdb;
	border-collapse: collapse;
}

.wrap .contentWrap .listWrap .content .list table thead th {
	font-weight: bold;
	font-size: 15px;
	background: #DBDBDB;
	padding: 12px 0;
	border-bottom: 2px solid red;
}

.wrap .contentWrap .listWrap .content .list table tbody td {
	padding: 10px 0;
	word-break: break-word;
	border: 1px solid #DBDBDB;
}

.wrap .contentWrap .listWrap .content .list table tbody td a:hover {
	font-size: 20px;
	color: #393939;
}

.wrap .contentWrap .listWrap .content .list .paging {
	font-size: 15px;
	padding: 10px 0;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
}

.wrap .contentWrap .listWrap .content .list .paging strong {
	display: inline-block;
	width: 31px;
	height: 31px;
	line-height: 30px;
	color: #fff;
	background: #e1141d;
}

.wrap .contentWrap .listWrap .content .list .paging a {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #717171;
	border: 1px solid #DBDBDB;
	background: #fafafa;
}

.wrap .contentWrap .listWrap .content .regist {
	padding: 15px 0 15px 20px;
}

.wrap .contentWrap .listWrap .content .regist table {
	width: 98%;
	font-size: 12px;
	text-align: center;
	border: 1px solid #dbdbdb;
	border-collapse: collapse;
}

.wrap .contentWrap .listWrap .content .regist table tbody th {
	font-weight: bold;
	border: 1px solid #fff;
	background: #DBDBDB;
}

.wrap .contentWrap .listWrap .content .regist table tbody td {
	padding: 10px 0;
	word-break: break-word;
	border: 1px solid #DBDBDB;
	text-align: left;
	padding-left: 10px;
}

.wrap .contentWrap .listWrap .content .regist table tbody td input[type=text]
	{
	width: 70%;
}

.wrap .contentWrap .listWrap .content .regist .btn {
	padding: 20px;
	font-size: 15px;
	text-align: right;
}

.btn_g {
	display: inline-block;
	width: 132px;
	height: 31px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 29px;
	background: #444;
	border-radius: 2px;
}

.paging .prev, .paging .next {
	vertical-align: top;
}

.paging .prev {
	margin-right: 10px;
}

.paging .next {
	margin-left: 10px;
}

.wrap .footer {
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	background: #DBDBDB;
	clear: both;
}

.wrap .footer span {
	font-size: 15px;
	color: #565656
}